{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure                       {:mvn/version "1.11.2"}
  ;; webserver+routing
  compojure/compojure                       {:mvn/version "1.6.2"}
  ring/ring-core                            {:mvn/version "1.9.4"}
  ring/ring-jetty-adapter                   {:mvn/version "1.9.5"}
  ring/ring-json                            {:mvn/version "0.5.1"}
  hiccup/hiccup                             {:mvn/version "2.0.0-RC2"}}; html rendering
 :aliases
 {; clj -M:dev
  :dev
  {:extra-paths ["dev/src"]
   :extra-deps  {cider/cider-nrepl   {:mvn/version "0.27.1"}
                 hashp/hashp         {:mvn/version "0.2.1"}}
   :jvm-opts  ["-Dun.run.mode=dev"
               "-XX:-OmitStackTraceInFastThrow"]
   :main-opts ["-e" "(use '[hashp.core])"
               "-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"
               "-i"]}

  ; clj -M:run
  :run
  {:main-opts ["-m" "repeatt.core"]}

  ; clj -T:build repeatt
  #_:build
  #_{:deps       {io.github.clojure/tools.build {:git/tag "v0.9.2" :git/sha "fe6b140"}}
     :ns-default build}}}
